<p class="text-muted pul" ng-show="isMessageLoadingPending">chargement en cours...</p>
<table class="col-md-12 text-center table-striped table-bordered">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Message</th>
        <th class="text-center">Action</th>
    </tr>
    <tr ng-repeat="message in messages">
        <td>
            {{ message.id}}
        </td>
        <td>
            {{ message.data}}
        </td>
        <td>
            <button ng-controller="actionLeverPopoverCtrl"
                    popover-is-open="popoverElement.isOpen"
                    uib-popover-template="popoverElement.templateUrl"
                    type="button"
                    class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
</table>
